* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  margin: auto;
  padding-top: 2rem;
  margin-bottom: 5rem;
}

.header h1 {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  color: #724cf9;
}

.button {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: space-around;
}

.button button {
  padding: 1rem;
  border: 1px solid black;
  background-color: green;
  color: white;
  border-radius: 1rem;
}
